* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Amazon Ember', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.h1 {
    width: 360px;
    height: 60px;
    text-align: center;
    margin-bottom: 35px;
}

.container {
    width: 360px;
    height: 550px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 15px 29px 0 29px;
    position: relative;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.title {
    min-width: 300px;
    height: 23px;
    font-size: 18px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, .9);
}

.name input,
.number input,
.password input,
.re-password input {
    width: 300px;
    height: 31px;
    border-radius: 5px;
    outline: none;
    margin-bottom: 7px;
    border: 1px solid rgba(0, 0, 0, .4);
}

.name input:hover,
.number input:hover,
.password input:hover,
.re-password input:hover {
    box-shadow: 0 0 7px rgb(231, 104, 0);
}

label {
    width: 300px;
    height: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, .9);
    text-align: left;
    font-size: 13px;

}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.number {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.re-password {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.continue {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.continue input {
    width: 300px;
    height: 33px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .5);
    background: linear-gradient(to top, rgb(240, 193, 77), rgb(247, 222, 161));
    font-size: 14px;
    color: rgba(0, 0, 0, .9);
}

.continue input:hover {
    background-image: linear-gradient(to top, rgb(233, 184, 60), rgb(243, 212, 135));
}

.password p {
    width: 300px;
    height: 23px;
    font-size: 13px;
    margin-top: 5px;
    display: flex;
    align-self: center;

}

.condition {
    font-size: 12px;
    width: 300px;
    padding-top: 15px;
    padding-bottom: 12px;
    line-height: 19px;
    text-align: left;

}

.question {
    font-size: 12px;
    width: 300px;
    line-height: 19px;
    padding-top: 8px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.info {
    width: 240px;
    height: 60px;
    margin-top: 20px;
}

.footer {
    width: 230px;
    height: 30px;
    font-size: 12px;
    color: rgb(40, 87, 131);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.affiliates {
    width: 240px;
    margin-top: 1px;
    left: 440px;
    font-size: 11px;
    color: rgba(0, 0, 0, .7);
}

a {
    text-decoration: none;
}

a[href="http://amazon.com"] {
    color: rgb(40, 148, 211);
}

.first-box {
    border-style: hidden;
    height: 2px;
    width: 80%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(211, 209, 209), rgba(0, 0, 0, 0));


}

.secend-box {
    border-style: hidden;
    width: 80%;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(211, 209, 209), rgba(0, 0, 0, 0));
}


.icon-p {
    display: flex;
    flex-direction: row;
}

.name input {
    padding-left: 7px;
}

.password input {
    padding-left: 7px;
}

.icon {
    font-style: italic;
    color: rgb(40, 148, 211);
    font-size: 12px;
    width: 23px;
    margin-top: 6px;
    padding-left: 12px;
}