*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px;
    background-color: blueviolet;
    margin: 40px;
    grid-gap: 10px;
}
.container .content{
    
}