input:invalid {
    background: hsla(0, 90%, 70%, 1);
  }
  
  input:valid {
    background: hsla(100, 90%, 70%, 1);
  }
  
  
  body {
    padding: 3em;
  }
  fieldset {
   border: 0;   
  }
  input {
    padding: 0.25em 0;
    margin-bottom: 0.75em;
  }