body {
    background:linear-gradient(to bottom , rgba(200, 90, 80,1), rgba(100,20,78,.3));
background-repeat: no-repeat;

}

p {
    background: radial-gradient(circle at center,rgb(116, 116, 29) , rgb(56, 11, 116 ));
}

img {
    border-style: groove;
    border-width: 5px;
    margin: 30px 40px;
    float: right;
    outline-style: groove;
    border-radius: 40px;
    padding-left: 50px;
}

a[href] {
    color: black;
    font-style: italic;
    font-weight: bold;
    margin: 70px;
}

li {
    list-style: none;
}

.top1 :hover {
    background-color: darkcyan;
}

.top2 :hover {
    background-color: darkcyan;
}

.top1 {
    margin-bottom: 30px;
}

.top2 {
    margin-bottom: 30px;
}

h2 {
    margin: 100px 100px 20px 100px;
    text-align: center;
    font-weight: bold;
}

p {
    margin: 50px 100px 20px 100px;
    text-align: right;
    font-size: 15px;
}

p::first-letter {
    font-weight: bold;
    text-align: left;
    font-size: 50px;
}

p span {
    color: blue;
}