<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="header">
        <h1>coffee</h1>
    </div>
    <div class="gallery">
        <div class="row1">
            <div class="box1"><img src="download (3).jpg" width="290px" height="150px" id="image1">
                <div class="title">
                    <h4> دانه قهوه </h4>
                </div>
            </div>

            <div class="box1"><img src="images.jpg" width="290px" height="150px" id="image2">
                <div class="title">
                    <h4> پودر قهوه </h4>
                </div>
            </div>
        </div>

        <div class="row2">
            <div class="box2"><img src="download (4).jpg" width="290px" height="150px" id="image3">
                <div class="title">
                    <h4> کپسول قهوه </h4>
                </div>
            </div>
            <div class="box2"><img src="images (1).jpg" width="290px" height="150px" id="image4">
                <div class="title">
                    <h4> هات چاکلت </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar">
        <div class="section-video">
            <video controls width="330px" height="210px">
                <source src="Brewing coffee.mp4 ">
            </video>
            <h4> روش دم کردن قهوه اسپرسو</h4>
        </div>

        <div class="section-img">
            <img src="download (6).jpg" width="150px" height="150px" id="img-section">
            <p>اسپرسو حاصل گذراندن آب نزدیک به نقطه جوش از پودر قهوه‌ فشرده است. برای این کار باید آب با فشار زیاد به
                محفظه قهوه وارد شود. بنابراین وجود یک پمپ آب قدرتمند در اسپرسو ساز ضروری است. در اکثر دستگاه‌ها برای
                ایجاد چنین فشار زیادی از پمپ الکترونیکی استفاده می‌شود.</p>
        </div>
        <div class="footer">
            <div class="contact"> تماس با ما
                <ul>
                    <li>شیراز ، بلوار شهید مدرس ، خیابان شهید آرامی پلاک ۲۸ و ۳۰</li>
                    <li>۰۷۱۳۷۲۶۱۳۲۱</li>
                    <li>
                        ۰۹۱۷۱۱۱۱۳۸۴ | ۰۹۱۷۳۱۳۱۳۰۷</li>
                    <li> info@proshotcoffee.ir</li>
                </ul>
            </div>
            <div class="about">

                <p class="footer-p">
                    کارخانه قهوه پروشات
                    <br>

                    این واحد تولیدی از سال ۱۳۵۶ فعالیت خود را در زمینه تولید مواد غذایی آغاز نموده است و طی بیش از ۴ دهه
                    فعالیت مستمر همواره کیفیت محصولات تولیدی و رضایت مصرف کنندگان را سرلوحه کار خویش قرار داده است.
                    همگام با
                    نیاز روز جامعه و لزوم عرضه محصولات جدید برآن شدیم تا با تجهیز کردن واحد با مدرن ترین دستگاهها و
                    تکنولوژی
                    روز دنیا جهت رست وفرآوری قهوه و همچنین ارتقاء سطح کمی و کیفی محصولات تولیدی و ارائه هرچه بهتر آن گام
                    برداریم. باشد که این نوآوری و پویایی در تولید محصولات رضایت کامل هموطنان عزیز را فراهم نماید.
            </div>
            </p>

        </div>
</body>

</html>