* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .2fr 1.5fr 1.2fr .8fr;
    grid-template-areas:
        " navebar navebar navebar navebar"
        "sidebar main main main"
        "sidebar content1 content2 content3"
        "sidebar footer footer footer";
    gap: 5px;
}

.navebar {
    background-color: blueviolet;
    grid-area: navebar;
}

.sidebar {
    grid-area: sidebar;
    background-color: coral;
}

.main {
    grid-area: main;
    background-color: rgb(80, 112, 255);
}

.content1 {
    grid-area: content1;
    background-color: rgb(252, 255, 80);
}

.content2 {
    grid-area: content2;
    background-color: rgb(226, 80, 255);
}

.content3 {
    grid-area: content3;
    background-color: rgb(109, 255, 80);
}

.footer {
    grid-area: footer;
    background-color: rgb(80, 255, 226);
}

@media screen and (max-width:600px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: .5fr .5fr 2fr 1.5fr 1.5fr 1.5fr 1fr;
        grid-template-areas:
        "navebar"
        "sidebar"
        "main"
        "content1"
        "content2"
        "content3"
        "footer";
    }
}

