<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout-reusable</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="header">
       
        header</div>
    <div class="sidebar col-2">sidebar
    </div>
    <div class="content col-4">
        <div class="row">
            <div class="box col-2">
                <p>hello</p>
                <div class="title">title</div>
            </div>
            <div class="box col-2">
                <p>hello</p>
            </div>
            <div class="box col-2">
                <p>hello</p>
            </div>
        </div>
    </div>

    <div class="info">
        <div class="about col-2">about</div>
        <div class="contact col-4">contact</div>
    </div>
    <div class="footer">footer</div>


</body>

</html>