.header {
    width: 100%;
    height: 100px;
    background-color: cornflowerblue;
    font-size: 3rem;
    text-align: center;
}

.main {
    width: 40%;
    height: 300px;
    background-color: indianred;
    display: inline-block;
    font-size: 3rem;
    text-align: center;


}

.sidebar {
    width: 60%;
    height: 300px;
    background-color: goldenrod;
    display: inline-block;
    font-size: 3rem;
    text-align: center;


}