* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container1 {
    width: 500px;
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: hsla(81, 72%, 28%, 0.966);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container1 .btna,
.container1 .btnb {
    position: relative;
    width: 150px;
    height: 60px;
    background-color: hsla(81, 49%, 36%, 0.5);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    overflow: hidden;

}

.container1 .btna a,
.container1 .btnb a {
    color: rgb(26, 16, 4);
    text-decoration: none;
}

.container1 .btna:hover a {
    letter-spacing: 4px;

}

.container1 .btnb:hover a {
    font-size: 25px;

}

.container1 .btna a::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 190px;
    height: 80px;
    background-image: linear-gradient(to left, rgba(121, 156, 130, 0.5)50%, rgba(92, 128, 101, 0.05)50%, transparent);
    transform: skewX(45deg) translatex(-10px);
    transition: .4s;
}

.container1 .btnb a::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 190px;
    height: 80px;
    background-image: linear-gradient(to left, rgba(101, 146, 150, 0.5)50%, rgba(74, 111, 133, 0.05)50%, transparent);
    transform: translatex(-10px);
    transition: 0.5s;
}

.container1 .btna:hover a::before {
    transform: rotate(50deg) translatex(100px);

}

.container1 .btnb:hover a::before {
    transform: skewX(50deg) translatex(200px);

}



.container2 {
    position: relative;
    left: 600px;
    width: 200px;
    height: 300px;
    background-color: rgb(53, 0, 139);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input[ type="radio"] {
    width: 130px;
    height: 45px;
    background: rgb(20, 18, 10);
    margin: 15px;
    appearance: none;
    box-shadow: -4px -4px 25px rgba(255, 255, 255, 0.1), 4px 4px 15px rgba(0, 0, 0, 1),
        inset -2px -2px 5px rgba(255, 255, 255, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 1), 0 0 0 2px black;
    border-radius: 25px;
    transition: 0.5s;
}

input[ type="radio"]:checked {
    background: rgb(53, 0, 139);
}

input[ type="radio"]::before {
    content: " ";
    width: 85px;
    height: 48px;
    position: absolute;
    top: 84px;
    left: 34px;
    background-image: linear-gradient(to top, rgb(53, 0, 139), rgba(255, 255, 255, 0.1));
    border-radius: 25px;
    box-shadow: 3px 3px 0 black;
    transition: 0.5s;
}

.container3 {
    width: 600px;
    height: 100px;
    position: relative;
   margin-top: 30px;
    transform: translate(30%);
    background-color: hsla(23, 88%, 39%, 0.966);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container3 .btnd {
    position: relative;
    width: 150px;
    height: 60px;
    background-color: hsla(59, 49%, 36%, 0.5);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);

}

.container3 .btnc {
    position: relative;
    width: 150px;
    height: 60px;
    background-color: hsla(59, 49%, 36%, 0.5);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);

}

.container3 .btne {
    position: relative;
    width: 150px;
    height: 60px;
    background-color: hsla(59, 49%, 36%, 0.5);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 5px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    transition: width 2s linear;

}

.container3 .btne:hover {
    width: 200px;
}

.container3 .btnc {
    transition: color 0.5 ease;

}

.container3 .btnc:hover {
    color: chartreuse;
}

.container3 .btnc::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    height: 60px;
    background: black;
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}