*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
    
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  
}

.container{
   width:750px;
    width: 100%;
    border-radius: 12px;
    padding: 25px 30px;
    background-color: rgb(114, 78, 78);
}