.header {
    width: 100%;
    height: 90px;
    background-color: cadetblue;
    color: black;
    padding: 20px;
    text-align: center;

}

.side-left {
    width: 25%;
    height: 200px;
    float: left;


}

.side-right {
    width: 55%;
    height: 300px;
    color: black;
    border-radius: 10px;
    float: right;

}

.box {
    width: 100%;
    height: 100px;
    margin-left: 20px;
    margin-top: 20px;

}

.box div {
    border-radius: 10px;
    text-align: center;
}

.box div:nth-child(odd) {
    background-color: darkgreen;
    margin-bottom: 10px;
}

.box div:nth-child(even) {
    background-color: rgb(162, 192, 26);
    margin-bottom: 10px;

}

@media screen and (max-width : 768px) {
    h2 {
        font-size: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: beige;

    }

}

@media screen and (max-width : 600px) {
    .header {
        background-color: green;

    }

}

@media screen and (min-width : 600px) {
    .header {
        background-color: rgb(133, 90, 161);

    }

}

@media screen and (min-width : 992px) {
    .header {
        background-color: rgb(226, 223, 34);

    }

}

@media screen and (max-width : 768px) {
    .side-left {
        width: 100%;

    }

}

@media screen and (max-width : 768px) {
    .side-right {
        width: 100%;
        background-color: palevioletred;

    }

}

@media screen and (max-width : 600px) {
    .side-right {
        display: none;

    }

}

@media screen and (min-width : 992px) and (orientation : landscape) {
    .side-right
    {
       background-color: teal;

    }

}
@media screen and (min-width : 200px) and (max-width : 300px) , (min-width : 1200px) {
   body
    {
       background-color: rgb(182, 133, 69);

    }

}

