.box1 {
    background-color: darkgoldenrod;
    color: black;
    border: 10px solid rgb(100, 73, 4);
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
    border-radius: 10px;
    min-width: 500px;
}

.box2 {
    background-color: rgb(11, 184, 175);
    color: black;
    border: 10px solid rgb(5, 95, 89);
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    margin-bottom: 10px;

}

.text {
    background-color: rgb(195, 205, 50);
    padding: 20px;
    border-radius: 10px;
    width: 170px;
    height: 100px;
        font-size: 20px;
    font-weight: bold;
    line-height: 40px;
}

span {
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    background-color: blanchedalmond;
}